<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <app-empty-screen 
    *ngIf="(chats | async)?.length == 0" 
    [model]="model">
  </app-empty-screen>

  <ng-container *ngIf="(chats | async) as chat$">
    <ion-list 
      lines="none" 
      *ngIf="chat$?.length > 0">
      <ion-item-group class="chats-group" *ngFor="let chat of chat$">
        <app-chat-box [chat]="chat" [current_user_id]="chatService.currentUserId"></app-chat-box>
      </ion-item-group>
    </ion-list>
  </ng-container>

</ion-content>

<ion-footer>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-fab-button *ngIf="!isLoading" size="small" color="button">
        <ion-icon name="add-sharp"></ion-icon>
      </ion-fab-button>
      <ion-fab-button *ngIf="isLoading" size="small" color="button">
        <ion-spinner name="crescent" color="white"></ion-spinner>
      </ion-fab-button>
    </ion-buttons>

    <ion-textarea
      id="chat-text-area"
      autoGrow 
      rows="1" 
      placeholder="Send message" 
      class="ion-text-left" 
      [(ngModel)]="message"
      (keydown.enter)="sendMessageWithKey($event)">
    </ion-textarea>
 
    <ion-buttons slot="end">
      <ion-fab-button *ngIf="!isLoading" size="small" color="button" (click)="sendMessage()" class="rotate45up">
        <ion-icon name="send"></ion-icon>
      </ion-fab-button>
      <ion-fab-button *ngIf="isLoading" size="small" color="button">
        <ion-spinner name="crescent" color="white"></ion-spinner>
      </ion-fab-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
